cloud/batch_layer/infrastructure/orchestration/state_machine_definition.json
{
  "Comment": "Daily pipeline: parallel fetch → partition symbols → 10 parallel scanner workers → global aggregator → done",
  "StartAt": "ResolveScanDate",
  "States": {

    "ResolveScanDate": {
      "Type": "Choice",
      "Comment": "Optional execution input: {\"scan_date\":\"YYYY-MM-DD\"}. Use when the run starts after midnight UTC but should target a prior trading day (partitioner only includes symbols with raw_ohlcv for that date). If omitted, scan_date defaults to the UTC calendar date of Execution.StartTime.",
      "Choices": [
        {
          "Variable": "$.scan_date",
          "IsPresent": true,
          "Next": "ParallelFetchers"
        }
      ],
      "Default": "SetDefaultScanDate"
    },

    "SetDefaultScanDate": {
      "Type": "Pass",
      "Parameters": {
        "scan_date.$": "States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, 'T'), 0)"
      },
      "Next": "ParallelFetchers"
    },

    "ParallelFetchers": {
      "Type": "Parallel",
      "Comment": "Fetch OHLCV data and symbol metadata in parallel so neither blocks the other.",
      "Branches": [
        {
          "StartAt": "PlanOHLCVFetch",
          "States": {
            "PlanOHLCVFetch": {
              "Type": "Task",
              "Comment": "VPC Lambda: reads RDS gaps and fan-out async-invokes daily-ohlcv-fetcher (one Event invoke per missing date). Returns in seconds (no synchronous wait). OHLCV parquet -> S3 -> SQS -> daily-ohlcv-ingest-handler hydrates RDS out-of-band. Pipeline must Wait before scanner.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:ca-west-1:471112909340:function:dev-batch-daily-ohlcv-planner",
                "Payload": {
                  "backfill_missing": true,
                  "max_backfill_days": 21,
                  "skip_market_check": true
                }
              },
              "Retry": [
                {
                  "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                  "IntervalSeconds": 60,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                }
              ],
              "End": true,
              "ResultPath": "$.ohlcvResult"
            }
          }
        },
        {
          "StartAt": "FetchMetadata",
          "States": {
            "FetchMetadata": {
              "Type": "Task",
              "Comment": "Polygon → S3 bronze/raw_meta. RDS updates require S3 event → daily-meta-ingest-handler (not this state machine).",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:ca-west-1:471112909340:function:dev-batch-daily-meta-fetcher",
                "Payload": {}
              },
              "Retry": [
                {
                  "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                }
              ],
              "End": true,
              "ResultPath": "$.metadataResult"
            }
          }
        }
      ],
      "Next": "NormalizeAfterFetch",
      "ResultPath": "$.fetcherResults",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure",
          "ResultPath": "$.error"
        }
      ]
    },

    "NormalizeAfterFetch": {
      "Type": "Pass",
      "Comment": "Parse Lambda proxy bodies so Choice/Task steps can use ohlcv.* and meta.*. Preserve scan_date for partitioner + Batch.",
      "Parameters": {
        "ohlcv.$": "States.StringToJson($.fetcherResults[0].ohlcvResult.Payload.body)",
        "meta.$": "States.StringToJson($.fetcherResults[1].metadataResult.Payload.body)",
        "scan_date.$": "$.scan_date"
      },
      "Next": "MaybeIngestOHLCV"
    },

    "MaybeIngestOHLCV": {
      "Type": "Choice",
      "Comment": "Planner now fan-outs the fetcher asynchronously and returns num_dates=0, so this branch is intentionally a no-op for the standard daily run. Kept for ad-hoc executions that pre-stage parquet in S3 and explicitly set ohlcv.num_dates>0 + ohlcv.dates_processed in the input.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.ohlcv.num_dates",
              "IsPresent": true
            },
            {
              "Variable": "$.ohlcv.num_dates",
              "NumericGreaterThan": 0
            }
          ],
          "Next": "IngestOHLCVToRDS"
        }
      ],
      "Default": "MaybeIngestMeta"
    },

    "IngestOHLCVToRDS": {
      "Type": "Task",
      "Comment": "Manual sync ingest path. Standard daily run skips this (S3 -> SQS -> daily-ohlcv-ingest-handler handles RDS load).",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ca-west-1:471112909340:function:dev-batch-daily-ohlcv-ingest-handler",
        "Payload": {
          "s3_bucket": "dev-condvest-datalake",
          "ingest_dates.$": "$.ohlcv.dates_processed"
        }
      },
      "ResultPath": "$.ingestOhlcvResult",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "MaybeIngestMeta"
    },

    "MaybeIngestMeta": {
      "Type": "Choice",
      "Comment": "Sync manifest to RDS (async S3→SQS path can still run separately).",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.meta.manifest_key",
              "IsPresent": true
            },
            {
              "Variable": "$.meta.metadata_count",
              "NumericGreaterThan": 0
            }
          ],
          "Next": "IngestMetaToRDS"
        }
      ],
      "Default": "WaitForAsyncOHLCVIngest"
    },

    "IngestMetaToRDS": {
      "Type": "Task",
      "Comment": "Sync manifest load for scanner ordering. If you also use wire_meta_ingest_s3_sqs.sh, the same manifest may be processed twice unless RDS upserts dedupe.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ca-west-1:471112909340:function:dev-batch-daily-meta-ingest-handler",
        "Payload": {
          "s3_bucket": "dev-condvest-datalake",
          "s3_key.$": "$.meta.manifest_key"
        }
      },
      "ResultPath": "$.ingestMetaResult",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "WaitForAsyncOHLCVIngest"
    },

    "WaitForAsyncOHLCVIngest": {
      "Type": "Wait",
      "Comment": "Planner fan-outs the fetcher async; fetcher writes parquet to S3; S3 -> SQS -> daily-ohlcv-ingest-handler hydrates RDS. Real-volume runs (~5k symbols, 1-21 dates) take 10-15 min end-to-end. We pad to 15 min before scanner workers query RDS so they never see stale data. Tune via SCANNER_RDS_HYDRATION_WAIT_SECONDS during deploy if observed runtimes shift.",
      "Seconds": 900,
      "Next": "PartitionSymbols"
    },

    "PartitionSymbols": {
      "Type": "Task",
      "Comment": "Tiny Lambda: symbols with raw_ohlcv for scan_date → 10 chunk files on S3. scan_date comes from execution input (ResolveScanDate) or defaults to UTC date of execution start.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ca-west-1:471112909340:function:dev-batch-scan-partitioner",
        "Payload": {
          "scan_date.$": "$.scan_date",
          "array_size": 10
        }
      },
      "ResultPath": "$.partitionResult",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "MaybeRunScanner"
    },

    "MaybeRunScanner": {
      "Type": "Choice",
      "Comment": "Partitioner returns chunks_written=0 when no symbols have OHLCV for scan_date (wrong date vs RDS, or ingest lag). Do not submit Batch in that case.",
      "Choices": [
        {
          "Variable": "$.partitionResult.Payload.chunks_written",
          "NumericGreaterThan": 0,
          "Next": "RunScannerWorkers"
        }
      ],
      "Default": "PipelineSkippedScanner"
    },

    "PipelineSkippedScanner": {
      "Type": "Succeed",
      "Comment": "No S3 chunks for this scan_date. Re-run with input {\"scan_date\":\"YYYY-MM-DD\"} matching raw_ohlcv, or wait for OHLCV ingest."
    },

    "RunScannerWorkers": {
      "Type": "Task",
      "Comment": "Array Job (10 children). Each container downloads its S3 chunk, queries RDS for only its ~500 symbols, runs strategies, writes raw signals to daily_scan_signals. Step Functions waits for all 10 to finish.",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobName.$": "States.Format('scanner-workers-{}', $.scan_date)",
        "JobQueue": "arn:aws:batch:ca-west-1:471112909340:job-queue/dev-batch-scanner",
        "JobDefinition": "arn:aws:batch:ca-west-1:471112909340:job-definition/dev-batch-scanner-worker",
        "ArrayProperties": {
          "Size": 10
        },
        "ContainerOverrides": {
          "Environment": [
            {
              "Name": "JOB_TYPE",
              "Value": "scanner_worker"
            },
            {
              "Name": "SCAN_DATE",
              "Value.$": "$.scan_date"
            }
          ]
        }
      },
      "ResultPath": "$.scannerWorkersResult",
      "Retry": [
        {
          "ErrorEquals": ["Batch.BatchException", "States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "RunScannerAggregator"
    },

    "RunScannerAggregator": {
      "Type": "Task",
      "Comment": "Single container: reads every signal from daily_scan_signals for scan_date, ranks globally across the full universe, writes final top picks to stock_picks, then cleans up the staging table.",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobName.$": "States.Format('scanner-aggregator-{}', $.scan_date)",
        "JobQueue": "arn:aws:batch:ca-west-1:471112909340:job-queue/dev-batch-scanner",
        "JobDefinition": "arn:aws:batch:ca-west-1:471112909340:job-definition/dev-batch-scanner-aggregator",
        "ContainerOverrides": {
          "Environment": [
            {
              "Name": "JOB_TYPE",
              "Value": "scanner_aggregator"
            },
            {
              "Name": "SCAN_DATE",
              "Value.$": "$.scan_date"
            }
          ]
        }
      },
      "ResultPath": "$.scannerAggregatorResult",
      "Retry": [
        {
          "ErrorEquals": ["Batch.BatchException", "States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "PipelineComplete"
    },

    "NotifyFailure": {
      "Type": "Task",
      "Comment": "Publish SNS alert on any pipeline failure.",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ca-west-1:471112909340:condvest-pipeline-alerts",
        "Subject": "Daily Pipeline Failed",
        "Message.$": "States.Format('Pipeline execution {} failed. Error: {}', $$.Execution.Name, $.error)"
      },
      "Next": "PipelineFailed",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed"
        }
      ]
    },

    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineExecutionFailed",
      "Cause": "One or more pipeline stages failed"
    },

    "PipelineComplete": {
      "Type": "Succeed",
      "Comment": "All stages completed successfully."
    }
  }
}
